:root {
  --facebook-color: #1877f2;
  --twitter-color: #0f1419;
  --google-color: #d34836;
  --linkedin-color: #0077af;
  --develop-color: #e19cc4;
  --email-color: #055748;
  --whatsapp-color: #58ca3f;
  --youtube-color: #c12025;
  --instagram-color: #125688;
  --qrcode-color: #f03b2c;
  --instagram-gradient: radial-gradient(
      circle farthest-corner at 28% 100%,
      #fcdf8f 0%,
      #fbd377 10%,
      #fa8e37 22%,
      #f73344 35%,
      transparent 65%
    ),
    linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
  --pinterest-color: #d01d15;
  --qrcode-color: #f03b2c;
  --widget-color: #eb1786;
  --text-color: var(--fp-text-color, #333);
  --font-size: 16px;
  --placeholder-color: #b0b0b0;
  --placeholder-font-size: 0.925rem;
  --bs-link-color: var(--fp-hyperlink-color, var(--fp-theme-color));
}
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}
:root,
::after,
::before {
  --Theme-color: #00536a;
  --theme-color: #bdc7ca;
  --fp-body-color: #ffffff;
  --fp-theme-color: #00536a;
  --fp-text-color: #000000;
  --fp-title-color: #03546b;
  --fp-theme-contrast-color: #ffffff;
  --fp-title-font: Figtree;
  --fp-text-font: Figtree;
  --fp-button-font: Figtree;
  --fp-hyperlink-color: #03545b;
  --button-color: #b0abab;
  --donation-button-background-color: var(--fp-theme-color);
  --donation-button-text-color: var(--fp-body-color);
  --start-action-button-background-color: var(--fp-theme-color);
  --start-action-button-text-color: var(--fp-theme-contrast-color);
  --start-project-button-background-color: var(--fp-theme-color);
  --start-project-button-text-color: var(--fp-theme-contrast-color);
}

/*****************************************************************************************************************************************/
html,
body {
  height: 100%;
}
body {
  max-width: 1600px;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f0f0;
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

main {
  margin-bottom: 5rem;
}

.default-header nav.navbar .left-side[data-v-2e3f84ac] {
  align-items: center;
}
.form-control,
.col {
  width: 300px;
  border: 2px solid #0000;
  position: absolute;
  top: 15%;
  left: 5%;
}

.form-control[data-v-2e3f84ac] {
  background: #f2f2f2;
  background: var(--input-bg-color, #f2f2f2);
  border-color: #185591;
  border-color: var(--input-border-color, #ced4da);
  color: #bebebe;
  color: var(--input-text-color, #bebebe);
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.svg-fa {
  display: flex;
  align-items: center;
  padding-left: 10px;
  overflow: visible;
  width: 19px;
  margin-top: -5px;
  z-index: 100;
}

.d-none {
  padding-top: 5px;
  padding-left: 14px;
  padding-bottom: 10px;
}

.jFRgME {
  padding-left: calc(50% - 656px);
  padding-right: calc(50% - 656px);
}

.gmhevn {
  gap: 1.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 25rem));
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: -40px;
}

.styles__Picture-sc-3cfb7849-0 {
  display: flex;
  padding: 4px;
  width: 35px;
  height: 35px;
  background-color: #cdc7c7;
  color: #0000;
  z-index: 1;
}

.ls-is-cached {
  color: #0000;
  width: 35px;
  height: 35px;
}
.lazyloaded {
  width: 100px;
  height: 35px;
}
.CadreDiv {
  width: 50px;
  margin-right: 20px;
  z-index: 1;
}

.eZEbUT {
  display: flex;
  height: 2.4rem;
  width: 2.8rem;
  align-items: center;
  justify-content: center;
}

.Cadre {
  z-index: -1;
  align-items: center;
  border-radius: 0.4rem;
  padding-left: 15px;
  display: flex;
  gap: 2rem;
  height: 6.5rem;
  max-width: 26rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(2, 35, 102) 0%,
    rgb(97, 207, 255) 100%
  );
  border: 4px solid #185591;
  margin: 10px;
  cursor: pointer;
}

.Cadre.style-0::before {
  border-radius: 100%;
  bottom: 0px;
  content: "";
  display: block;
  height: 0px;
  left: 0px;
  padding-bottom: 100%;
  position: absolute;
  width: 100%;
  background: linear-gradient(
    270deg,
    rgb(2, 35, 102) 0%,
    rgb(97, 207, 255) 100%
  );
}

.grid-container {
  display: flex;
  flex-direction: row;
}

.title-container {
  width: 100%;
  text-align: center;
  margin-top: 16%;
  /* border: 4px solid #185591;*/
}

.bdhYQI {
  -moz-box-orient: vertical;
  color: white;
  display: -webkit-box;
  font-weight: 700;
  font-size: 1.4rem;
  -webkit-line-clamp: 2;
  margin-right: 1.6rem;
  max-width: 24.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 0;
}

a {
  color: currentcolor;
  text-decoration: none;
}

.gwPPZL {
  align-items: center;
  border-radius: 0.4rem;
  display: flex;
  height: 8rem;
  max-width: 34.3rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, rgb(0, 56, 83) 0%, rgb(23, 183, 176) 100%);
}

.Cadre.style-1::before {
  border-top-right-radius: 100%;
  content: "";
  display: block;
  height: 0px;
  left: 0px;
  padding-bottom: 100%;
  position: absolute;
  top: -10%;
  width: 100%;
  background: linear-gradient(
    270deg,
    rgb(0, 56, 83) 0%,
    rgb(23, 183, 176) 100%
  );
}

.Cadre.style-2::before {
  border-radius: 80% 0px;
  content: "";
  display: block;
  height: 0px;
  left: 0%;
  padding-bottom: 110%;
  position: absolute;
  top: -320%;
  transform: rotate(-45deg);
  width: 110%;
  background: linear-gradient(45deg, rgb(0, 56, 83) 0%, rgb(23, 183, 176) 100%);
}
.Cadre.style-3::before {
  border-radius: 80% 0px;
  content: "";
  display: block;
  height: 0px;
  padding-bottom: 100%;
  position: absolute;
  left: 40%;
  top: -165%;
  transform: rotate(45deg);
  width: 100%;
  background: linear-gradient(rgb(0, 56, 83) 0%, rgb(23, 183, 176) 100%);
}

/******************************************************************************************************************/
@media (max-width: 768px) {
  .form-control {
    opacity: 0;
  }
  .title-container {
    margin-top: 45%;
  }
  .grid-container {
    display: flex;
    flex-direction: row;
  }
  .gmhevn {
    gap: 0.1rem;
    /*   display: grid;
    grid-template-rows: repeat(auto-fill, minmax(auto, 1rem));
    justify-content: center;
    align-items: center;
    width: 96%;*/
    margin-left: 30px;
  }
  .Cadre {
    width: 18rem;
  }
}

/*************************************** Tenez moi au  courrant **************************************************/

#modal-dialog,
#modal-exemple {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  z-index: 1050;
  background-color: transparent;

  /* box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);*/
  /*width: 100%;
  max-width: 500px;*/
  width: 60%;
}

.modal-backdrop {
  z-index: 1040;
  background-color: transparent;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1040;
}
.modal-content {
  margin: 0 auto;
  width: 50%;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #e6e0e0;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-bottom: 1.4rem;
}

.modal-header {
  background-color: var(--Theme-color);
  height: 80px;
}
.modal-header-inner {
  width: 15%;
}
.form-fancy-toggle {
  display: flex;
  flex-direction: row;
}
.fas {
  height: 2.4rem;
  padding-top: 20px;
  left: 26px;
  position: relative;
}

.modal-pincipal {
  padding: 2% 10%;
  margin: -20px auto;
  height: 510px;
  border-radius: 15px;
  z-index: 1;
}

#close,
#closes,
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.modal-pincipal h5 {
  font-size: 1.4rem;
  font-weight: 90;
  color: #000;
}

.modal-pincipal p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  margin-top: 0;
  color: #000;
  width: 100%;
}

.form-floating {
  margin-top: 20px;
  text-align: "start";
}

.modal-content .form > label {
  color: rgba(51, 51, 51, 0.35);
  font-size: 0.925rem;
  padding: 1rem 0.75rem 1rem 1.1rem;
}

.form > label {
  border: 1px solid transparent;
  border: var(--bs-border-width) solid transparent;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding: 1rem 0.75rem;
  pointer-events: none;
  position: absolute;
  text-align: start;
  text-overflow: ellipsis;
  top: 0;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  white-space: nowrap;
  z-index: 2;
}

.form-fancy-toggle {
  position: relative;
  right: 0%;
  text-align: start;
  margin-bottom: 1rem !important;
}

.form-fancy-toggle .fancy-toggle,
.form-fancy-toggle .fancy-toggle:active,
.form-fancy-toggle input[type="checkbox"],
.form-fancy-toggle input[type="checkbox"]:active {
  border: none;
  height: 100%;
  left: 0;
  opacity: 0;
  outline: none;

  width: 10%;
}

.modal-content .form-fancy-toggle label {
  font-size: 0.925rem;
}

.form-fancy-toggle .checkbox-label:not(.left) {
  padding-right: 50px;
}

.form-fancy-toggle .checkbox-label {
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.btn.btn-primary.default-btn:not(:hover):not(.active),
.btn.btn-primary.fuji-btn:not(:hover):not(.active) {
  background: #000;
  color: #fff;
}
.form-fancy-toggle .checkbox-label {
  cursor: pointer;
}
.form-fancy-toggle .checkbox-label span {
  background: #d7d7d7;
  border-radius: 18px;
  height: 22px;
  position: absolute;
  width: 44px;
}
.checkbox-label span:hover {
  border: 1px solid blue;
}
.form-fancy-toggle .checkbox-label span::before {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #ddd;
  content: "";
  display: block;
  height: 17px;
  line-height: 22px;
  position: absolute;
  top: 2px;
  left: 2px;
  text-indent: 40px;
  width: 17px;
  z-index: 1;
  opacity: 1;
}

.form-fancy-toggle .fancy-toggle:checked + .checkbox-label span,
.form-fancy-toggle input[type="checkbox"]:checked + .checkbox-label span {
  background: #13bf11;
}
/*input*/
.form-fancy-toggle .checkbox-label:not(.left) span {
  right: -8px;
  top: 12px;
}
/*label*/

.checkbox-label span::before,
input[type="checkbox"]:checked + .checkbox-label span::before {
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  left: auto;
  right: 2px;
}
.disabled {
  padding: 10px 20px;
  color: #007bff;
  background-color: var(--Theme-color);
  border: 2px solid #0000;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
/************************************************************************************************/

#modal-display {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1040;
  background-color: transparent;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1040;
}
#modal-ideal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  transform: translate(33%, 15%);
  z-index: 1050;
}
.form-fancy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#qrcode {
  width: 100%;
  height: 180px;
  display: block;
  align-items: center;
}
