body {
  font-family: Arial, sans-serif;
}
body img {
  width: 1600px;
  position: absolute;
}

#principal {
  position: relative;
  top: -4%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 1;
}
.principalPrg {
  width: 95%;
  overflow: hidden;
  font-size: 1rem;
  padding: 1.5rem;
}
.contact-form {
  max-width: 500px;
  height: auto;
  margin: auto;
  padding: 2em 3em 2em 2em;
  background: #d7d2d2;
  /*  border: 1px solid #ccc;*/
  border-radius: 10px;
  z-index: 100;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.contact-form label {
  display: block;
  margin-bottom: 0.6em;
}

.contact-form input,
.contact-form textarea {
  width: 96%;
  padding: 0.8em;
  margin-bottom: 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  width: 100%;
  padding: 1.2em;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2.5rem;
}

.contact-form button:hover {
  background: #218838;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.8rem;
  color: #e54858;
  display: block;
  margin-top: -15px;
  margin-bottom: 20px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 3px solid #e54858;
}

#modalBody {
  background: #d7d2d2;
  max-width: 500px;
  height: 100%;
  padding: 2em 3em 2em 2em;
  background: #d7d2d2;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  animation-name: modalopen;
  margin: auto;
}
.modal_textI {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.modal_textI p {
  font-size: 20px;
  font-weight: 600;
}

.btn-submit {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  margin-top: -20px;
  padding: 12px 12px;
  color: #fff;
  cursor: pointer;
  border: 0;
}
#closeModal4 {
  cursor: pointer;
  background: #fe142f;
  color: #fff;
  border: 0;
}
span {
  color: #e90c22;
  font-weight: 800;
  font-size: 1rem;
}
.share-item {
  width: 45px;
  height: 3rem;
}
.share-item :hover {
  background-color: var(--Theme-color);
  padding-bottom: 11px;
}
