/* styles.css */
h1 {
  text-transform: uppercase;
}
.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
  padding: 10px;
  width: 90%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 12px;
}
.BtnHeader {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  position: relative;
  top: 11%;
  right: -80.8%;
  width: 16%;
}
.TTN {
  background-color: transparent;
  text-decoration: underline;
  margin-left: -20px;
}
button {
  padding: 10px 10px;
  color: #007bff;
  background-color: #c4e3ee;
  border: 2px solid #0000;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 18px;
  width: 130px;
}

button:hover {
  background-color: #0056b3;
  color: white;
}
@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

/************************************************** bénevole.html****************************************************************************/
/* bloc social media  */

/************************************************** HEADER ***********************************************/
.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #f6e9e9;
  background-color: #00536a;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 2%;
  left: 0;
  z-index: 100;
}
header a {
  text-decoration: none;
}
.flag {
  font-size: 18px;
  color: #fff;
}
#nav-lang-fr {
  color: #fff;
}
.listHeader {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.listLangue {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 8%;
}
.dropdownI {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
/*
.dropdownII {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18%;
}*/
.btn_lang {
  border: 1.5px solid rgb(231, 231, 237);
  border-radius: 0.8em;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.55);
  transition: all 0.2s;
  width: 52px;
  height: 25px;
}
.btn_lang:hover {
  border: rgb(24, 2, 35);
  border-color: var(--Theme-color);
  font-weight: 500;
}
option {
  border-radius: 0.8em;
}
.mobile-menu {
  display: none;
}
.hamburger {
  display: block;
  background: none;
  border: 2px solid rgb(21, 21, 21);
  width: 22px;
  font-size: 20px;
  padding-right: 28px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 18px;
}

#closebutton {
  display: none;
}

/************************************************** HEADER @media query***********************************************/

@media (max-width: 768px) {
  .header__navigation {
    background-color: transparent;
    position: fixed;
    top: 0%;
    left: 0%;
  }
  .mobile-menu {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
  }

  .dropdownI {
    display: none;
    background-color: #333;
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;
    padding-top: 0.8rem;
    padding-bottom: 2.8rem;
  }
  .listHeader,
  .listLangue {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 75%;
  }

  .dropdownI.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .listHeader a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #444;
    text-decoration: none;
  }
  .listHeader a:first-child {
    border-top: none;
  }
  .hamburger.show {
    display: none;
  }

  #closebutton.show {
    display: block;
    align-items: center;
    background: none;
    border: 2px solid rgb(21, 21, 21);
    width: 22px;
    margin-top: 15px;
  }
  .fa-xmark {
    padding-right: 15px;
    margin: -7px -4px -4px -12px;
  }
  .breadcrumb {
    font-size: 0.8rem;
    position: absolute;
    left: 1.5%;
    top: 14%;
    padding-left: 12px;
  }
  img {
    padding-right: 0rem;
  }
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 15px;
  position: absolute;
  left: 3%;
  top: 14%;
  text-align: start;
}
.breadcrumb-item {
  font-size: 14px;
  font-weight: 600;
}
.imgMain {
  width: 94%;
  margin: 10rem auto;
  position: relative;
  left: 2.8%;
  height: 70vh;
  box-shadow: 2px 2px 2px 2px #b6c6ca;
  border-radius: 4px;
  z-index: -1;
}
h1,
h2 {
  color: #00536a;
  text-align: center;
}
#bloc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; /* Par exemple */
  margin: 80px auto;
  gap: 15px;
}
.sectionI {
  margin: 0px auto;
}
.imgBloc {
  width: 600px;
}
.myP {
  font-size: 1rem;
  overflow: hidden;
  width: 90%;
  margin: 50px auto;
  line-height: 1.8pc;
}
.myPP {
  font-size: 0.9rem;
  overflow: hidden;
  width: 100%;
  margin: 20px auto;
}
p {
  font-size: 0.8rem;
  overflow: hidden;
  color: "#0000";
  z-index: 1;
}
.block-wrapper {
  width: 380px;
  overflow: hidden;
}
.title-wrapper {
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.content {
  overflow: hidden;
  width: 97%;
  padding: 2rem 0.8rem 0 0rem;
}

.svg-inline {
  margin-top: 10px;
  z-index: 1;
  width: 16%;
  color: #870789;
  display: block;
  align-self: center;
  position: relative;
  left: 45%;
}

.right-side {
  border-radius: 4px;
  border-style: solid;
  border-width: 0.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  width: 300px;
  padding: 0 20px;
  margin-top: -25px;
}
.textNews {
  font-size: 14px;
  opacity: 0.6;
  cursor: pointer;
}
.fa {
  position: relative;
  right: 1%;
  width: 25px;
  font-size: 30px;
  opacity: 0.6;
  cursor: pointer;
}
.left-side {
  margin-top: -30px;
  margin-right: 4rem;
}
.text-start {
  margin-bottom: -20px;
  color: #00536a;
}
.text-startI {
  display: block;
  width: 66%;
}
.sectionPrg {
  width: 70%;
  line-height: 2.5pc;
  text-align: center;
  position: relative;
  left: 15%;
}
/******************************************************************************************/
@media (max-width: 768px) {
  #bloc {
    display: flex;
    flex-direction: column;
  }

  .sectionI {
    margin: 0px auto;
  }
  .imgBloc {
    width: 480px;
  }
  .myP {
    font-size: 1rem;
    overflow: hidden;
    width: 90%;
    margin: 40px auto;
  }
  .sectionPrg {
    width: 100%;
    position: relative;
    left: 1%;
    top: 13.5rem;
    height: 90vh;
  }
  .newsletter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 260px;
  }
  .left-side {
    padding-top: 1.8rem;
  }
  .left-side p {
    width: 350px;
    overflow: hidden;
    text-align: start;
    line-height: 20px;
  }
  .right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
    border-style: solid;
  }

  #sectionIII {
    background-color: #edd6e7;
    width: 100%;
    margin-bottom: -100px;
    margin-top: 40px;
  }
}

#sectionIII {
  background-color: #edd6e7;
}
.newsletter-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  height: 250px;
  gap: 0.5rem;
  margin: 0 auto;
}
.btn-social-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#sectionVI {
  text-align: center;
  margin: 0 auto;
}
.col-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-12I {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35rem;
  height: 5rem;
}
/**************************************************Media query********************************************************/
@media (max-width: 768px) {
  #sectionVI {
    text-align: center;
    margin: 15px auto;
  }
  .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .col-12I {
    width: 24rem;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    overflow: hidden;
  }
  h4 {
    font-size: 14px;
  }
}
/******************************************** Modif du 13/08/2024 ****************************************/

.bground {
  display: none;
  position: fixed;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  left: 0;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #66696a;
  overflow: auto;
}

.contentt {
  margin: 5% auto;
  width: 100%;
  max-width: 450px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
}

/*ajout le modal_text */
.modal_text {
  overflow: hidden;
  width: 90%;
  height: 400px;
  text-align: center;
  font-size: 3rem;
  line-height: 168%;
  color: #fff;
}

.modal_text p {
  font-size: 40px;
}

.modal-body {
  padding: 4% 10%;
  margin: 12px auto;
}
.pp {
  font-size: 12px;
}
.close {
  position: absolute;
  right: 15px;
  top: 0px;
  width: 40px;
  height: 40px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 16.5px;
  top: 2px;
  content: " ";
  height: 30px;
  width: 3px;
  background-color: #0c0cf0;
  font-weight: bold;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

/* form */
label {
  width: 100%;
  font-size: 17px;
  font-family: var(--font-default);
  font-weight: normal;
  margin-bottom: 8px;
}

input {
  width: 100%;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  width: 100%;
  border-radius: 8px;
  font-size: 17px;
  height: 28px;
}

.text-label {
  font-size: 12px;
  color: #fff;
}
.form {
  width: 95%;
}
.formData {
  margin-bottom: 10px;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.8rem;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
  line-height: 128%;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 3px solid #e54858;
}
.formData[data-error-visible="false"] .text-control {
  border: 3px solid #279e7a;
}
.location {
  gap: 40px;
  width: 100%;
  line-height: 182%;
  display: block;
}
.checkbox-label {
  margin-bottom: 20px;
}
.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}
.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.btn-submit,
.btn-signup {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  margin-top: 30px;
  padding: 12px 12px;
  color: #14005d;
  cursor: pointer;
  text-decoration: underline;
}
.btn-signup :hover {
  background: #082340;
  color: #082340;
}
.footer {
  margin: 20px;
  padding: 10px;
  font-family: var(--font-slab);
}
.modalBtn {
  display: none;
}
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
#sectionI3 {
  position: relative;
  min-height: 100vh;
}

.imagePage {
  width: 85%;
  height: 90vh;
  margin-bottom: 8%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 28%);
}
.share-Groupe {
  margin-bottom: 120px;
  position: relative;
  left: 7.5%;
  margin-top: 70px;
}

.prtg {
  width: 20px;
  height: 20px;
}
.fa-share-nodes {
  width: 25px;
  height: 25px;
}

.addtoany_share::after {
  content: "Partager";
  margin-left: 10px;
}

.rel {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 18px;
  position: relative;
}

.rel:hover {
  transform: scale(1.2);
}
#TitrePage {
  color: #00536a;
  font-size: 1.2rem;
  width: 85%;
  text-align: center;
  overflow: hidden;
  padding-left: 6rem;
}
/*modal connexion*/
#modal-connexion {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: #4f5051;
  background-color: transparent;

  overflow: auto;
  gap: 50px;
}
#modal-connexionI {
  margin: 10% auto;
  width: 100%;
  max-width: 450px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #e2e8f6;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #1d1c1c;
  padding: 2rem;
}
.modal-connexionTitle {
  width: 80%;
  padding: 2rem;
  text-align: center;
  font-size: 1.4rem;
}
.Form {
  width: 90%;
}
/*
#labelRow {
  width: 100%;
  display: flex;
  flex-direction: row;
}*/
.motPasseOublie {
  font-size: 1rem;
  height: 2.7rem;
  display: block;
}
.DIVBTTN {
  display: table;
  width: 100%;
  text-align: center;
  position: relative;
  height: 10vh;
}
.BTTN {
  display: table-cell;
  vertical-align: middle;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
