:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Landing Page */
body {
  margin: 0;
  display: flex;
  flex-direction: column;

  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1400px;
  margin: 0 auto;
}
p {
  margin-bottom: 0;
  padding: 0.5vw;
}

img {
  padding-right: 1rem;
}
.topnav {
  overflow: hidden;
  margin: 3.5%;
}

.main-navbar {
  float: right;
}
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 12px 12px;
  margin: 5px;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.topnav a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
}
.topnav a.active {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
}
.topnav .icon {
  display: none;
}
main {
  font-size: 100%;
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px 15px;
  border-radius: 2rem;
  text-align: justify;
}
.hero-section {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.hero-content {
  padding: 51px 67px;
  grid-column: span 4;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 424px;
}
.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  top: 0;
}
.hero-content > * {
  position: relative;
  z-index: 1;
}
.hero-headline {
  font-size: 6rem;
  font-weight: normal;
  white-space: nowrap;
}
.hero-text {
  width: 126%;
  font-weight: normal;
  margin-top: 57px;
  padding: 0;
  font-size: 1.5rem;
}

.hero-img {
  grid-column: span 8;
}
.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}
.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 20px 23px;
  margin: 0;
  margin-top: 70px;
}
.modal-btn {
  font-size: 105%;
  background: #fe142f;
  border: 0.2rem solid transparent;
  display: flex;
  margin: auto;
  padding: 2em;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.modal-btn:hover {
  background: #3876ac;
}
.modal_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.modal_text p {
  font-size: 40px;
}
.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}
.bground {
  display: none;
  position: fixed;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}
/*ajout le modal_text */
.modal_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.modal_text p {
  font-size: 40px;
}
.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
